@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 50px;
}

.hidden {
  display: none;
}

img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
